.header {
    background-color: #6C5DCB;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 65px;
}

.header .header-title {
    font-size: 1.5rem;
    color: white;
    margin-right: 20px;
}
