body, html, #root, .app {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px; 
}


.uploaded-image, .processed-image{
    max-width: 100%;
    max-height: calc(100vh - 140px); 
    margin: auto;
    display: block;
    padding: 20px; 
    padding-top: 60px;
    box-sizing: border-box; 
    
}

.predicted-label{
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px; 
}

.predicted-text{
    font-size: 25px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px; 
}

.processed-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; 
}

.predicted-text {
    margin-bottom: 20px; 
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5D4BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.back-button:hover {
    background-color: #4a3ac7;
}

